.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  /* overflow: hidden; */
}

.carousel-wrapper .carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.carousel-wrapper .carousel .carousel-cell {
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
}
